* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --licht-rood: rgb(221, 50, 48);
    --background-blauw: rgb(209, 232, 234);
    --groen: #3AB179;
    --licht-blauw: #C4D6D7;
    --grijs: #666666;
}

.dashboard {
    grid-template-columns: 1fr;
}

.dashboard section {
    min-height: 50vh;
}

.bar-chart rect:nth-of-type(1) {
    fill: var(--groen)
}

.bar-chart rect:nth-of-type(2) {
    fill: var(--licht-rood)
}


section>section {
    text-align: center;
    background-color: #fff;
    padding: .5em;
    display: grid;
    place-items: center;
}

section>section>strong {
    font-size: 2em;
}

.dashboard h2 {
    color: var(--licht-rood);
}



/* LINE CHART */
.line-chart-legenda {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 1em;
}

.line-chart-legenda p {
    padding: .3em .5em;
    color: white;
    font-size: .8em;
    font-weight: bold;
    letter-spacing: .1em;
}

.lineChartGroup path {
    fill: none;
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.axis-bottom .tick {
    display: none;
}

.axis-bottom .tick:first-of-type {
    display: block;
}

.axis-bottom .tick:last-of-type {
    display: block;
}

.bubble-chart circle:nth-of-type(1) {
    fill: var(--groen);
}

.bubble-chart circle:nth-of-type(2) {
    fill: var(--licht-rood);
}

.bubble-chart circle:nth-of-type(3) {
    fill: var(--licht-blauw);
}

@media screen and (min-width: 500px) {

    .dashboard {
        background-color: var(--background-blauw);
        padding: 1em;
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr min-content;
        gap: 1em;
        grid-template-areas:
            "details1 uitgaven uitgaven uitgaven micro1 micro1"
            "details2 uitgaven uitgaven uitgaven micro1 micro1"
            "details3 uitgaven uitgaven uitgaven inhoud inhoud"
            "micro2 micro2 micro3 micro3 inhoud inhoud"
            "slider slider slider slider slider slider";
    }

    .dashboard section {
        min-height: auto;
    }

    .info-container1 {
        grid-area: details1
    }

    .info-container2 {
        grid-area: details2
    }

    .info-container3 {
        grid-area: details3
    }

    .uitgaven-container {
        grid-area: uitgaven;
    }

    .micro-targetting-data-container {
        grid-area: micro1;
    }

    .filter-container {
        grid-area: micro2
    }

    .micro-details2-container {
        grid-area: micro3
    }

    .inhoud-advertenties-container {
        grid-area: inhoud;
    }

    .filter-container form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .filter-container form div {
        margin: 0em 1em 1em 1em;
        display: flex;
        flex-direction: column;
    }

    .filter-container form div:last-of-type {
        flex-direction: row;
        align-items: center;
        grid-column: span 2;
    }

    .filter-container form div:last-of-type label:nth-of-type(2) {
        margin-left: 1em;
    }

    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--grijs);
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: var(--licht-rood);
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: var(--background-blauw);
    }

    input:focus+.slider {
        box-shadow: 0 0 1px var(--grijs);
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .micro-details2-container>section {
        display: flex;
        flex-wrap: wrap;
    }

    .micro-details2-container>section div:first-of-type {
        display: none;
    }

    .micro-details2-container>section div {
        font-size: .9em;
        font-weight: bold;
        letter-spacing: .1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: .5em;
        margin-bottom: .5em;
    }

    .micro-details2-container>section div p {
        text-align: center;
        background-color: black;
        color: white;
        padding: .3em.5em;

    }

    .micro-details2-container>section div strong {
        text-align: center;
    }




    .slider-container {
        grid-area: slider;
        height: 3em;
    }

    .slider-years {
        -webkit-appearance: none;
        /* Override default CSS styles */
        appearance: none;
        outline: none;
        height: 8px;
        border-radius: 15px;
        background-color: var(--licht-blauw);
        width: 100%;
    }

    .slider-years::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: var(--licht-rood);
        cursor: pointer;
    }

    .slider-years::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;

        background: var(--licht-rood);
        cursor: pointer;
    }
}